/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; 
  padding: 0;
  background-color: #f0f8ff;
  overflow-x: hidden;
}
    
.logo {
  position: absolute; /* Position the logo at the top left */
  top: 15px;
  left: 20px;
  cursor: pointer;
}
  
.logo img {
  height: 40px; /* Adjust the size of the logo */
  width: auto; /* Keep aspect ratio */
}
  
/* Navigation Bar */
nav {
  background-color: rgba(241, 245, 249, 1); /*light gray background*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
  position: sticky; /*sticks to the top when scroll*/
  top: 0; /*define sticky at the top of the screen*/
  z-index: 1000; /*keeps it above everything*/
  padding: 20px; /*space all around nav bar*/
}
/*align nav items to center*/
nav ul {
  list-style: none; /*remove bullet points*/
  display: flex;
  justify-content: center; /*center align the items horizontally*/
  margin: auto; /*center the entire nav*/
  padding: 10px 0; /*add spacing top and bottom*/
}
/*add spacing between nav items*/    
nav ul li {
  margin: 0 15px;
}
    
nav ul li a {
  text-decoration: none; /*remove underline*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}
  
nav .cart{
  font-size: 30px;
  cursor: pointer; /*makes mouse cursor point on cart icon*/
  position: absolute; /*makes position fixed*/
  right: 20px; /*position towards right*/
  top: 23px; /*position upwards*/
}

/* About Us Section */
.about-us {
  padding: 20px; /* Add padding around the section for spacing */
  text-align: center; /* Center align all text within this section */
  }
  
.about-us h1 {
  font-size: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 20px; /*add spacing below heading*/
}
  
.timeline {
  display: flex;
  flex-direction: column; /*stack items vertically*/
  gap: 30px; /*add spacing between each items*/
}
  
.timeline-item {
  display: flex;
  gap: 20px; /*add spacing between image and content*/
  align-items: center; /*center items vertically*/
  border-radius: 10px; /*rounded corners*/
  padding: 20px; /*add space all around*/
}
  
.timeline-item img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
  
.timeline-item .content h2 {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5px; /*space between heading and h3*/
}
  
.timeline-item .content h3 {
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.timeline-item .content p {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5; /*space between each lines*/
  text-align:center;/*center align text*/
}
  
/* Responsive Design for about us page */
@media (max-width:990px){
  .timeline-item img{
    /*reduce image width for smaller screens*/
    width:60%; 
    height:60%;
  }
}
  
@media (max-width: 890px) {
  .timeline-item {
    flex-direction: column; /*stack items vertically*/
    text-align: center; /*center align text*/
  }
  
  .timeline-item img {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap; /*allow wrapping of content*/
    order: -1; /*move image above content*/
  }
}
/*responsive design for nav bar*/
@media (max-width: 640px) {
  body {
    max-width: 640px; /*restrict body width for smaller screens*/
  }
  nav ul li {
    margin: 0 6px; /*reduce spacing between each nav items*/
  }
  nav ul li a {
    text-decoration: none; /*remove underlines*/
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  nav .cart {
    font-size: 30px;
    cursor: pointer;
    right: 25px;
    top: 20px;
  }
  .logo img {
    height: 40px;/* Adjust the size of the logo */
    width: auto;/* Keep aspect ratio */
  }
}
/*styles for screen size below 475px*/
@media (max-width: 475px) {
  body {
    max-width: 475px; /*restrict max-width for smaller screens*/
  }
  nav {
    padding: 5px; /*reduce padding all around for nav bar*/
    height: 30%; /*adjust nav bar height*/
  }
  nav ul li {
    margin: 0 3px; /*reduce spacing between nav items*/
  }
  nav ul li a {
    position: relative;
    width: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
  }
  nav .cart {
    font-size: 20px; /*reduce cart icon size*/
    cursor: pointer;
    right: 25px;
    top: 13px;
  }
  .logo img {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: auto;
  }
}