/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  background-color: #f0f8ff; /*light blue background*/
  overflow-x: hidden; /* prevent horizontal scrolling */
}  
.logo {
  /*positioning logo at top left corner of page*/
  position: absolute; /* keeps the logo fixed at the top left */
  top: 15px;
  left: 20px;
  cursor: pointer; /*makes mouse cursor point on logo*/
}
  
.logo img {
  height: 40px; /* maintain height of the logo */
  width: auto; /* Keep aspect ratio */
}
  
/* Navigation Bar */
nav {
  background-color: rgba(241, 245, 249, 1);  /*light gray background*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
  position: sticky; /*sticks to the top when scroll*/
  top: 0; /*define sticky at the top of the screen*/
  z-index: 1000; /*keeps it above everything*/
  padding: 20px; /*space all around nav bar*/
}  
/*align nav items to center*/
nav ul {
  list-style: none; /*remove bullet points*/
  display: flex;
  justify-content: center; /*center align the items horizontally*/
  margin: auto; /*center the entire nav*/
  padding: 10px 0; /*add spacing top and bottom*/
}
/*add spacing between nav items*/   
nav ul li {
  margin: 0 15px;
}
    
nav ul li a {
  text-decoration: none; /*remove underline*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}
  
nav .cart{
  font-size: 30px; 
  cursor: pointer; /*makes mouse cursor point on cart icon*/
  position: absolute; /*makes position fixed*/
  right: 20px; /*position towards right*/
  top: 23px; /*position upwards*/
}

/* Cart Section */
.cart-container {
  max-width: 800px; /*set maximum width for cart*/
  margin: 20px auto; /* center the cart horizontally and add vertical spacing */
  padding: 20px; /*add padding all around*/
  background-color: #e8f5ff; /*light blue background color*/
  border-radius: 10px; /*rounded corners*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
}
  
h1 {
  text-align: center; /*center heading*/
  margin-bottom: 20px; /*spacing below heading*/
}
  
#cart-items {
  font-size: 22px;
}
  
.cart-item {
  display: flex;
  align-items: center; /*vertically align items*/
  justify-content: space-between; /*evenly space between items*/
  padding: 10px; /*padding all around*/
  margin-bottom: 20px; /*spacing below item*/
  background-color: white; /*white background*/
  border-radius: 5px; /*rounded corners*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadown effect*/
}
  
.cart-item img {
  width: 60px; /*set image width*/
  height: 60px; /*set image height*/
}
.cart-summary {
  /* part for total, checkout button*/
  display: flex;
  justify-content: space-between; /*distribute items evenly*/
  align-items: center; /*center items vertically*/
  flex-wrap: wrap; /*wrap items if not enough space*/
} 
.cart-summary .total {
  /* style for total price text*/
  font-size: 18px;
  font-weight: bold;
}
#checkout-button {
  padding: 10px 20px; /*add padding all around*/
  background-color: #007BFF; /*blue background*/
  color: white; /*white text*/
  border-radius: 10px; /*rounded corners*/
  border:none; /*no border*/
  cursor: pointer; /*mouse cursor shows pointer when on button*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
  
#checkout-button:hover {
  background-color: #0056b3; /*darker blue on button for when on hover*/
}
.remove-button {
  cursor: pointer; /*mouse cursor shows pointer when on 'x'*/
}
  
#empty-cart-message{
  display: none; /*hide as default*/
}
  
/*responsive design for cart page*/
/*adjust style for screen sizes below 850px*/
@media (max-width: 850px) {
  .cart-container{
    width: 80%; /*adjust width for smaller screens*/
  }
}
/*adjust style for screen sizes below 720px*/
@media (max-width: 720px){
  #cart-items{
    font-size: 18px; /*smaller font size to fit screen*/
  }
}
 /*nav bar responsive design*/
@media (max-width: 640px) {
  body {
    max-width: 640px; /*restrict body width for smaller screens*/
  }
  nav ul li {
    margin: 0 6px; /*reduce spacing between each nav items*/
  }
  nav ul li a {
    text-decoration: none; /*remove underlines*/
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  nav .cart {
    font-size: 30px;
    cursor: pointer;
    right: 25px;
    top: 20px;
  }
  .logo img {
    height: 40px; /* Adjust the size of the logo */
    width: auto; /* Keep aspect ratio */
  }
  #cart-items{
    font-size: 16px; /*smaller font size for smaller screen*/
  }
}

/*adjust style for screen sizes below 550px*/
@media (max-width: 550px){
  #cart-items{
    font-size: 14px; /*smaller font size*/
  }
}

/*adjust style for screen sizes below 475px*/
@media (max-width: 475px) {
  body {
    max-width: 475px; /*restrict max-width for smaller screens*/
  }
  nav {
    padding: 5px; /*reduce padding all around for nav bar*/
    height: 30%; /*adjust nav bar height*/
  }
  nav ul li {
    margin: 0 3px; /*reduce spacing between nav items*/
  }
  nav ul li a {
    position: relative;
    width: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
  }
  nav .cart {
    font-size: 20px; /*reduce cart icon size*/
    cursor: pointer;
    right: 25px;
    top: 13px;
  }
  .logo img {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: auto;
  }
  #cart-items{
    font-size: 12px; /*smaller font size*/
  }
}