/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  background-color: #f0f8ff; /*light blue background*/
  overflow-x: hidden; /* prevent horizontal scrolling */
}
.logo {
  /*positioning logo at top left corner of page*/
  position: absolute; /* keeps the logo fixed at the top left */
  top: 15px;
  left: 20px;
  cursor: pointer; /*makes mouse cursor point on logo*/
}
  
.logo img {
  height: 40px; /* maintain height of the logo */
  width: auto; /* Keep aspect ratio */
}
  
/* Navigation Bar */
nav {
  background-color: rgba(241, 245, 249, 1); /*light gray background*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
  position: sticky; /*sticks to the top when scroll*/
  z-index: 1000; /*keeps it above everything*/
  top:0; /*define sticky at the top of the screen*/
  padding: 20px; /*space all around nav bar*/
}
/*align nav items to center*/
nav ul {
  list-style: none; /*remove bullet points*/
  display: flex;
  justify-content: center; /*center align the items horizontally*/
  margin: auto; /*center the entire nav*/
  padding: 10px 0; /*add spacing top and bottom*/
}
/*add spacing between nav items*/    
nav ul li {
  margin: 0 15px; 
}
    
nav ul li a {
  text-decoration: none; /*remove underline*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}
  
nav .cart{
  font-size: 30px;
  cursor: pointer; /*makes mouse cursor point on cart icon*/
  position: absolute; /*makes position fixed*/
  right: 20px; /*position towards right*/
  top: 23px;  /*position upwards*/
}
  
/* Content Section */
.content {
  display: flex;
  flex-direction: column; /*stack content vertically*/
  align-items: center; /*center align all items*/
  gap: 30px;  /*space between section*/
}
  
/* First Section */
.first-section {
  position: relative; /*allows for overlay elements*/
  width: 100%; /*makes width responsive*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*shadow*/
  border-radius: 10px; /*rounded corners*/
  height: 700px; 
  overflow: hidden; /*crop overflowing content*/
}
    
.second-section{
  width:100%;
  display: flex;
  align-items: center; /*center align items vertically*/
  justify-content: center; /*center align items horizontally*/
}
/*makes first section images responsive*/
.first-section img {
  width: 100%;
  height: 100%;  
}
.text-overlay {
  position: absolute; /*fixed position*/
  top:75%;
  left:17%;
  transform: translate(-50%, -50%); /*center alignment*/
  text-align: center; /*center text*/
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /*shadow*/
  width: auto;
  }
    
.text-overlay button {
  background-color: white; /*white background*/
  color: black; /*black text*/
  border: none; /*remove border*/
  padding: 15px 40px; /*padding all sides*/
  font-size: 1rem;
  border-radius: 5px;/*round corners*/
  cursor: pointer; /*mouse cursor points on button*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /*shadow*/
  font-weight: bold;
}
/*button hover effect*/
.text-overlay button:hover {
  background-color: black; /*change button color on hover*/
  color: white; /*changes text color on hover*/
}
      
/* Second Section */
.image-container {
  position: relative; /*allows hover content placement*/
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  }  
.image-container img {
  width: 100%; /*full width*/
  height: auto; /*maintain aspect ratio*/
  display: block; /*ensures image displays*/
  }
    
.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8); /*semi transparent background*/
  padding: 20px; /*padding all around*/
  border-radius: 5px;
  opacity: 0; /*hide content by default*/
  transition: opacity 0.5s ease; /*smooth fade in*/
  }
  /*show hover content when hovered*/
  .image-container:hover .hover-content {
    opacity: 1; /* Make the content visible on hover */
  }
    
.hover-content h2 {
  margin: 0 0 20px; /*add spacing bottom*/
  font-size: 1.5rem;
  font-weight: bold;
}
    
.hover-content button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
    
.hover-content button:hover {
  background-color: white;
  color: black;
  border: 1px solid black; /*add border on button when hover to see button*/  
}
  
.text-right {
  display: flex;
  flex-direction: column; /*make content display downwards*/
  align-items: center; /*align items vertically*/
  justify-content: center; /*align items horizontally*/
  text-align: center; /* Center align text */
  color: black;
  width: 100%;
}
    
.text-right h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px; /*spacing between text and button*/
}
    
.text-right button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
    
.text-right button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*responsive design for home screen*/
/*adjust style for screen smaller than 760px*/
@media (max-width:760px){
  .text-right h2{
    font-size: 1.4rem; /*reduce text font size when screen smaller*/
  }
  .text-overlay button{
    font-size: 0.8rem; /*reduce button text size when screen smaller*/
    padding: 15px 20px; /*adjust padding for button when screen smaller*/
  }
  .text-overlay{
    top:73%; /*bring button up higher when screen smaller*/
  }
  .hover-content h2{
    font-size: 1.1rem; /*reduce hover content size*/
  }
}
/*adjust styles for screens under 650px*/
@media (max-width:650px){
  .hover-content h2{
    font-size: 1.0rem; /*further reduce hover content text size*/
  }
  .hover-content{
    padding: 15px; /*reduce padding around hover content*/
  }
  .hover-content button{
    font-size: 0.7rem; /*reduce hover content button text size*/
  }
}
/*adjust styles for screens under 640px*/
/*responsive design for nav bar*/
@media (max-width: 640px) {
  body {
    max-width: 640px; /*restrict body width for smaller screens*/
  }
  nav ul li {
    margin: 0 6px; /*reduce spacing between each nav items*/
  }
  nav ul li a {
    text-decoration: none; /*remove underlines*/
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  nav .cart {
    font-size: 30px;
    cursor: pointer;
    right: 25px;
    top: 20px;
  }
  .logo img {
    height: 40px;/* Adjust the size of the logo */
    width: auto; /* Keep aspect ratio */
  }
}
/*adjust styles for screen size under 580px*/
@media (max-width:580px){
  .hover-content h2{
    font-size: 0.8rem; /*reduce font size for hover text*/
    margin-bottom: 10px; /*reduce spacing between text and button*/
  }
  .hover-content button{
    font-size: 0.5rem; /*make button text size smaller*/
    padding: 8px 15px; /*reduce padding all around*/
  }
}
/*adjust styles for screens under 540px*/
@media (max-width:540px){
  .text-right h2{
    font-size: 1.2rem; /*reduce text size*/
  }
  .text-overlay button{
    font-size: 0.6rem; /*reduce button size*/
    padding: 8px 13px; /*reduce padding all around*/
  }
}
/*adjust styles for screens under 510px*/
@media (max-width:510px){
  .hover-content h2{
    font-size: 0.7rem; /*reduce text font size*/
  }
  .hover-content button{
    padding:5px; /*reduce padding all around*/
  }   
}
/*responsive design for screens sizes below 475px*/
@media (max-width:475px){
  body {
    max-width: 475px; /*restrict max-width for smaller screens*/
  }
  nav {
    padding: 5px; /*reduce padding all around for nav bar*/
    height: 30%; /*adjust nav bar height*/
  }

  nav ul li {
    margin: 0 3px; /*reduce spacing between nav items*/
  }
  nav ul li a {
    position: relative;
    width: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
    }

  nav .cart {
    font-size: 20px; /*reduce cart icon size*/
    cursor: pointer;
    right: 25px;
    top: 13px;
  }
  .logo img {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: auto;
  }
  .text-right h2{
    font-size: 16px;
  }
  .text-right button{
    font-size: 10px; /*change  button font size*/
  }
  .text-overlay button{
    font-size: 0.5rem; /*change button font size*/
    padding: 6px 11px; /*change padding all around button*/
  }
  .text-overlay{
     top:69%; /*bring button up higher*/
  }
}
/*responsive design for screens below 440px*/
@media (max-width:440px){
  .hover-content h2{
    font-size: 0.6rem; /*reduce hover content text size*/
  }
  .hover-content{
    padding: 10px; /*reduce padding all around*/
  }
}
/*adjust styles for screen sizes below 400px*/
@media (max-width:400px){
  .hover-content h2{
    font-size: 0.5rem; /*reduce font size*/
    margin-bottom: 5px;/*reduce spacing between text and button*/
  }
  .hover-content button{
    font-size: 0.4rem;
  }
  .text-right h2{
    font-size: 14px;
    margin-bottom: 8px;
  }
  .text-right button{
    font-size: 8px;
    padding:8px;
  }
}
  