/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  background-color: #f0f8ff; /*light blue background*/
  overflow-x: hidden; /* prevent horizontal scrolling */
}
    
.logo {
  /*positioning logo at top left corner of page*/
  position: absolute; /* keeps the logo fixed at the top left */
  top: 15px;
  left: 20px;
  cursor: pointer; /*makes mouse cursor point on logo*/
}
.logo img {
  height: 40px; /* maintain height of the logo */
  width: auto; /* Keep aspect ratio */
}
  
/* Navigation Bar */
nav {
  background-color: rgba(241, 245, 249, 1);/*light gray background*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);/*shadow effect*/
  position: sticky;/*sticks to the top when scroll*/
  top: 0; /*define sticky at the top of the screen*/
  z-index: 1000; /*keeps it above everything*/
  padding: 20px; /*space all around nav bar*/
}
/*align nav items to center*/
nav ul {
  list-style: none;/*remove bullet points*/
  display: flex;
  justify-content: center;/*center align the items horizontally*/
  margin: auto; /*center the entire nav*/
  padding: 10px 0; /*add spacing top and bottom*/
}
/*add spacing between nav items*/    
nav ul li {
  margin: 0 15px;
}
    
nav ul li a {
  text-decoration: none; /*remove underline*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}
nav .cart{
  font-size: 30px;
  cursor: pointer; /*makes mouse cursor point on cart icon*/
  position: absolute; /*makes position fixed*/
  right: 20px; /*position towards right*/
  top: 23px;   /*position upwards*/
}

/*Menu Page*/
.filter-section {
  display: flex;
  justify-content: center; /*center buttons horizontally*/
  gap: 15px; /*spacing between buttons*/
  margin: 20px 0; /*spacing for top and bottom*/
}
  
.filter-section button {
  padding: 10px 20px; /*padding all around*/
  border: none;/*no border*/
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px; /*rounded corners*/
  cursor: pointer;
  height: 50px;
  width: 200px;
}
  
.filter-section button:hover {
  background-color: #0056b3; /*button is darker blue when on hover*/
}
  
.menu-title {
  text-align: center;
  font-size: 36px;
}
  
.menu-grid {
  display: grid; /*grid layout for products*/
  grid-template-columns: repeat(3, 1fr); /*display 3 columns with equal width*/
  gap: 20px; /*spacing between grid items*/
  justify-items: center; /*center horizontally*/
  padding: 20px; /*padding inside grid*/
  font-size: 24px;
  font-weight: bold;
  max-width: 100%; /*ensure grid doesnt exit screen size*/
}
  
.menu-item {
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px; /*padding around product*/
  border-radius: 10px; /*rounded corners*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
  transition: transform 0.3s ease; /*hover transition*/
  cursor: pointer; /*mouse cursor shows pointer*/
}
.menu-item img {
  width: 350px;
  height: 280px;
}
  
.menu-item:hover {
  transform: scale(1.05); /*enlarge item slight when on*/
}
  
/*responsive design for menu page*/
@media (max-width: 1220px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); /*reduce to 2 columns*/
    padding: 10px; /*reduce padding*/
  }
  .menu-item {
    font-size: 80%; /*reduce font size for items*/
  }
  .menu-item img{
    width:90%; /*adjust image width*/
    height: 320px;
  }
  .menu-title {
    font-size: 150%;
    margin: 10px;
  }
}
/*responsive design for menu display*/
@media (max-width: 750px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    padding-top: 0px;
    row-gap: 5px;
  }
  .menu-item {
    font-size: 80%;
  }
  .menu-item img{
    width:100%;
    height:320px;
  }
  .menu-title {
    font-size: 150%; /*smaller font size*/
  }
}
/*responsive design for nav bar and menu display for screen size below 640px*/
@media (max-width: 640px) {
  body {
    max-width: 640px; /*restrict body width for smaller screens*/
  }
  nav ul li {
    margin: 0 6px; /*reduce spacing between each nav items*/
  }
  nav ul li a {
    text-decoration: none; /*remove underlines*/
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  nav .cart {
    font-size: 30px;
    cursor: pointer;
    right: 25px;
    top: 20px;
  }
  .logo img {
    height: 40px;/* Adjust the size of the logo */
    width: auto;/* Keep aspect ratio */
  }
  .filter-section {
    margin: 15px; /*reduce margin*/
    padding-top: 10px; /*add padding above*/
  }
  
  .filter-section button {
    font-size: 120%; /*reduce font size*/
  }
  .menu-grid {
    grid-template-columns: repeat(1, 1fr); /*reduce to 1 column*/
    padding: 10px; /*reduce padding*/
    gap: 15px; /*gap between each product*/
  }
  .menu-item {
    font-size:90%; /*reduce font size of product*/
  }
  .menu-item img{
    width:90%; /*adjust image width*/
  }
  .menu-title {
    font-size: 150%; /*reduce size*/
  }
}
/*responsive design for screen smaller than 475px*/
@media (max-width: 475px) {
  body {
    max-width: 475px; /*restrict max-width for smaller screens*/
  }
  nav {
    padding: 5px; /*reduce padding all around for nav bar*/
    height: 30%; /*adjust nav bar height*/
  }
  nav ul li {
    margin: 0 3px;/*reduce spacing between nav items*/
  }
  nav ul li a {
    position: relative;
    width: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
  }
  nav .cart {
    font-size: 20px; /*reduce cart icon size*/
    cursor: pointer;
    right: 25px;
    top: 13px;
  }
  .logo img {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: auto;
  }
  .filter-section {
    margin: 10px; /*reduce amrgin*/
    gap: 5px; /*reduce spacing between buttons*/
  }
  .filter-section button {
    font-size: 75%; /*reduce font size*/
    height: 70%;
  }
  .menu-grid {
    grid-template-columns: repeat(1, 1fr); /* one column*/
    gap: 10px;
  }
  .menu-item {
    font-size: 80%; /*reduce font size*/
  }
  .menu-item img{
    max-width:80%; /*restrict image width*/
    height:80%;
  }
  .menu-title {
    font-size: 150%; /*reduce title font size*/
    padding-top: 5px; 
    padding-bottom: 5px;
  }
}
  