/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  background-color: #f0f8ff; /*light blue background*/
  overflow-x: hidden; /* prevent horizontal scrolling */
}
.logo {
  /*positioning logo at top left corner of page*/
  position: absolute; /* keeps the logo fixed at the top left */
  top: 15px;
  left: 20px;
  cursor: pointer; /*makes mouse cursor point on logo*/
}
  
.logo img {
  height: 40px; /* maintain height of the logo */
  width: auto; /* Keep aspect ratio */
}
  
/* Navigation Bar */
nav {
  background-color: rgba(241, 245, 249, 1); /*light gray background*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*shadow effect*/
  position: sticky; /*sticks to the top when scroll*/
  z-index: 1000; /*keeps it above everything*/
  top:0; /*define sticky at the top of the screen*/
  padding: 20px; /*space all around nav bar*/
}
/*align nav items to center*/
nav ul {
  list-style: none; /*remove bullet points*/
  display: flex;
  justify-content: center; /*center align the items horizontally*/
  margin: auto; /*center the entire nav*/
  padding: 10px 0; /*add spacing top and bottom*/
}
/*add spacing between nav items*/    
nav ul li {
  margin: 0 15px; 
}
    
nav ul li a {
  text-decoration: none; /*remove underline*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}
  
nav .cart{
  font-size: 30px;
  cursor: pointer; /*makes mouse cursor point on cart icon*/
  position: absolute; /*makes position fixed*/
  right: 20px; /*position towards right*/
  top: 23px;  /*position upwards*/
}

/* Product Section */
.product-container {
  display: flex;
  justify-content: center; /*center align product details horizontally*/
  margin: 30px auto; /*add vertical spacing and center*/  
  padding: 20px; /*add padding all around*/
}

.product-details {
  display: flex;
  gap: 30px; /*spacing between image and info*/
}
.product-details img {
  width: 500px;
  height:470px;
  border-radius: 20px; /*rounded corners*/
}
  
.product-info {
  max-width: 600px; /*limit the width of the info to look better*/
}
  
.product-info h1 {
  font-size: 36px;
  margin-top: 20px; /*spacing above title*/
  margin-bottom: 20px; /*spacing below title*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-info p {
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5; /*space between lines*/
}
.quantity-select {
  margin-bottom: 20px; /*space below quantity*/
}
.quantity-select label {
  margin-right: 10px; /*add spacing to right of label*/
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.quantity-select select {
  padding: 5px; /*padding all around inside select*/
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer; /*cursor shows pointer*/
}

.product-info button {
  background-color: #007BFF;
  padding: 10px 20px; /*spacing all around inside button*/
  font-size: 16px;
  border:none; /*no border*/
  border-radius: 10px; /*rounded corners*/
  cursor: pointer; /*shows cursor pointer*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.product-info button:hover {
  background-color: #0056b3; /*on hover, button shows darker blue*/
}
  
/* Related Products */
  
.related-products {
  margin: 30px auto; /*vertical spacing and center*/
  padding: 20px; /*add inner space all around*/
}
.related-products h2 {
  text-align: center;
  margin-bottom: 30px; /*space below title*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
  
.related-products-scroll {
  display: flex;
  gap: 20px; /*space between each products*/
  overflow-x: auto; /*enable horizontal scrolling (x-axis)*/
}
.related-products-scroll::-webkit-scrollbar {
  height: 8px; /*set horizontal scroll bar height*/
}

.related-products-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; /*light gray color*/
  border-radius: 10px;/*rounded corners for scroll bar*/
}
  
.related-products-scroll .product {
  text-align: center; /*center align product title*/  
}
  
.related-products-scroll .product img {
  /*style product image*/
  width: 300px;
  height: 300px; 
  border-radius: 10px;
}
  
/*responsive design for product page*/
@media (max-width: 1080px){
  .product-container {
    display: flex;
    justify-content: center; /*center items horizontally*/
    align-items: center; /*center items vertically*/
  }
  .product-details img {
    width: 40%; /*reduce image width*/
    height:auto; /*maintain aspect ratio*/
    border-radius: 20px; /*rounded corners*/
  }
} 

/*responsive design for screen sizes below 980px*/
@media (max-width:980px){
  .product-details {
    flex-direction: column; /*set items vertically*/
  }
  .product-details img {
    display: block;
    /*center image horizontally*/
    margin-left: auto;
    margin-right: auto;
    width: 420px; /*reduce image width*/
    height: auto; /*maintain aspect ratio*/
  }
  .product-info p {
    font-size: 100%;
  }
}
/*responsive design for nav bar and product details for screen sizes below 640px*/
@media (max-width: 640px) {
  body {
    max-width: 640px; /*restrict body width for smaller screens*/
  }
  nav ul li {
    margin: 0 6px; /*reduce spacing between each nav items*/
  }
  nav ul li a {
    text-decoration: none; /*remove underlines*/
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  nav .cart {
    font-size: 30px;
    cursor: pointer;
    right: 25px;
    top: 20px;
  }
  .logo img {
    height: 40px;/* Adjust the size of the logo */
    width: auto; /* Keep aspect ratio */
  }
  .product-details img {
    width: 73%;
    height: auto; 
  }
  .product-info h1 {
    font-size: 200%; /*adjust heading size*/
    /* text-align: center; */
  }
}
/*rsponsive design for screen sizes sbelow 475px*/
@media (max-width: 475px) {
  body {
    max-width: 475px; /*restrict max-width for smaller screens*/
  }
  nav {
    padding: 5px; /*reduce padding all around for nav bar*/
    height: 30%; /*adjust nav bar height*/
  }
  nav ul li {
    margin: 0 3px;/*reduce spacing between nav items*/
  }
  nav ul li a {
    position: relative;
    width: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
  }
  nav .cart {
    font-size: 20px; /*reduce cart icon size*/
    cursor: pointer;
    right: 25px;
    top: 13px;
  }
  .logo img {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: auto;
  }
  .product-info h1 {
    font-size: 170%;
    /* text-align: center; */
  }
}